ahhnanium.rainwave.cc, ahhnananium.rainwave.cc {
    file_server
    header {
        Server Microsoft-IIS/10.0
        X-Powered-By ASP.NET
    }
    root * /usr/share/caddy
}

birthdayfeed.subtlecoolness.com {
    reverse_proxy birthdayfeed:8080
}

kuma.subtlecoolness.com {
    reverse_proxy kuma:3001
}
