name: Deploy

on:
  push:
    branches:
      - main

concurrency:
  group: deploy

permissions: {}

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Deploy
        run: sh ci/deploy.sh
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
